---
type Variant = "accent" | "success" | "danger" | "warning" | "neutral" | "info";

interface Props {
  variant: Variant;
}

const { variant } = Astro.props;
const baseClass = `badge badge-${variant}`;
---

<span class={baseClass}>
  <slot />
</span>
